/*-----------------------------------------------------------------------------------
1 - Informations
    1-1 - Informations
    1-2 - How to Configure
    1-3 - Divers
    1-4 - Debug
-----------------------------------------------------------------------------------*/

/*--------------------------------------------------------------------------------------

    1 - General

--------------------------------------------------------------------------------------*/

#fep-admin h1 {
    font-size: 40px;
    font-weight: 900;
    text-transform: uppercase;
    background-color: transparent;
    background-image: linear-gradient(150deg, #d30c5c 0%, #562c3d 62%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 10px auto;
}
#fep-admin h2 {
    font-size: 34px;
    font-weight: 900;
    margin: auto auto 30px;
}

#fep-admin .form-table th {
    width: auto;
}


/*--------------------------------------------------------------------------------------

    1-1 - Informations

--------------------------------------------------------------------------------------*/

#fep_informations th {
    display: none;
}
#fep-admin tr.fep-informations h3 {
    font-weight: 900;
}

#fep-admin .content-helpus {
    background: #ffffff;
    display: inline-block;
    padding: 0 10px 10px 0;
}
#fep-admin .content-helpus .col1 {
    display: inline-block;
    width: 40%;
}
#fep-admin .content-helpus .col1 img {
    max-width: 100%;
}
#fep-admin .content-helpus .col2 {
    display: inline-block;
    width: 57%;
    padding-left: 15px;
}
@media screen and (max-width: 767px) {
    #fep-admin .content-helpus .col1,
    #fep-admin .content-helpus .col2 {
        width: 100%;
    }
}
#fep-admin button.fep-check-options,
#fep-admin button.fep-reset-panel,
#fep-admin button.fep-reset-options {
    background-color: #a4afb7;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    padding: 6.5px 15px;
    cursor: pointer;
    transition: 0.25s all;
    border: 0;
    position: relative;
    font-size: 13px;
    outline: 0;
}
#fep-admin button.fep-check-options:hover,
#fep-admin button.fep-reset-panel:hover,
#fep-admin button.fep-reset-options:hover {
    background-color: #6d7882;
    -webkit-box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
    box-shadow: 0 0 2px rgba(0,0,0,.12), 0 2px 2px rgba(0,0,0,.2);
}
#fep-admin red {
    color: red;
}
#fep-admin .fep-gif {
    max-height: 400px;
    margin: 15px 10px 15px auto;
}

/*--------------------------------------------------------------------------------------

    1-2 - How to Configure

--------------------------------------------------------------------------------------*/
#fep_how_to_configure th {
    display: none;
}


/*--------------------------------------------------------------------------------------

    1-3 - Divers

--------------------------------------------------------------------------------------*/
.fep_frontend_accordion_close th {
    display: inline-block;
}
.fep_frontend_accordion_close td {
    float: left;
}

/*--------------------------------------------------------------------------------------

    1-4 - Debug

--------------------------------------------------------------------------------------*/
#fep-admin .fep-reset-panel-notice,
#fep-admin .fep-reset-options-notice {
    padding: 5px 15px;
    background-color: white;
    margin-left: 15px;
    border-left: 5px solid #0cc50c;
    display: inline-block;
}
#fep-admin .fep-check-options-notice {
    width: 100%;
    background-color: white;
    height:0;
    opacity: 0;
}
