/*-----------------------------------------------------------------------------------
1 - Panel
2 - Flex Grid element
3 - Vertical toggle
4 - Exit button
5 - Tooltip FEP
-----------------------------------------------------------------------------------*/


/*--------------------------------------------------------------------------------------

1 - Panel

--------------------------------------------------------------------------------------*/

.elementor-device-desktop #elementor-preview-responsive-wrapper {
    min-width: auto;
    /* cancel min screen if you use on computer under the default 1024 */
}

#elementor-panel:not(.ui-resizable-resizing),
#elementor-preview:not(.ui-resizable-resizing),
#elementor-panel,
#elementor-preview {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    min-width: 300px;
}


/* For Elementor 3.2 */
/* Since FEP 2.3.4 */
#elementor-preview {
    background-color: #333;
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    border: 0;
}
#elementor-preview,
.e-responsive-bar {
    width: auto;
    left: 300px;
}
.elementor-panel {
    position: fixed;
    height: 100%;
    top: 0;
    bottom: 0;
    margin: 0;
}

#elementor-preview-responsive-wrapper .ui-resizable-e,
#elementor-preview-responsive-wrapper .ui-resizable-s,
#elementor-preview-responsive-wrapper .ui-resizable-w,
#elementor-responsive-bar {
    z-index: 0!important; /* change z-index for display the editor panel on it (z-index 1) */
}
/* End Elementor 3.2 */


.e-responsive-bar,
.e-responsive-bar:not(.ui-resizable-resizing) {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}

.elementor-editor-preview .elementor-panel {
    left: -300px;
}

.elementor-panel .ui-resizable-all {
    position: relative;
    height: 20px;
    width: 20px;
    right: 0;
    left: 100%;
    cursor: nwse-resize;
    background-color: transparent;
    border-right: 2px solid deeppink;
    border-bottom: 2px solid deeppink;
    margin-left: -20px;
    margin-top: -20px;
}

#elementor-panel-saver-button-save-options {
    position: relative;
}

.ui-resizable-resizing {
    pointer-events: unset;
}

.disable-option-fep-disable_obscured_elements_responsive .elementor-control-disable_obscured_elements_responsive .elementor-control-content,
.disable-option-fep-maintain_obscured_elements_responsive .elementor-control-maintain_obscured_elements_responsive .elementor-control-content,
.disable-option-fep-alternative_responsive_indicator .elementor-control-alternative_responsive_indicator .elementor-control-content {
    display: none!important;
}

/*css for stop conflict with css elenentor 2.9.0, why it ?*/
#elementor-panel-fep-settings label {
    flex-shrink: unset;
    line-height: 1.4;
}
/*css for stop conflict with css elenentor 3.0.0, why it ?*/
#elementor-panel-editorPreferences-settings label {
    flex-shrink: unset;
    line-height: 1.4;
}

.desc-pro-version {
    line-height: 1.4;
}

/*--------------------------------------------------------------------------------------

2 - Flex Grid element

--------------------------------------------------------------------------------------*/
.fep-elementor-grid-ruler .elementor-panel .elementor-responsive-panel {
    display: inline-block;
}

.fep-elementor-grid-ruler .elementor-panel .elementor-element-wrapper {
    width: 90px;
    padding: 3px;
    float: left;
}

.fep-elementor-grid-ruler .elementor-panel .elementor-element .icon {
    font-size: 26px;
    padding-top: 10px;
}

.fep-elementor-grid-ruler .elementor-panel .elementor-element .elementor-element-title-wrapper {
    padding: 0px 2px;
}


/*--------------------------------------------------------------------------------------

3 - Vertical toggle

--------------------------------------------------------------------------------------*/

#elementor-panel-header-wrapper {
    position: relative;
    z-index: 1;
}

#fep-collapse-vertical,
#fep-reset-panel {
    width: 40px;
    height: 40px;
    position: relative;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#fep-reset-panel {
    bottom: -1px;
}

#fep-collapse-vertical:hover,
#fep-reset-panel:hover {
    color: #d5dadf;
    cursor: pointer;
}

#fep-collapse-vertical .fep-toggle-panel-icon {
    font-size: 18px;
}

.elementor-editor-preview .elementor-panel.vertical_elementor_panel_toggle-on {
    left: 0;
    right: 0;
}
.elementor-editor-preview .elementor-panel.vertical_elementor_panel_toggle-on #elementor-panel-footer {
    display: none!important;
}


/*--------------------------------------------------------------------------------------

4 - Exit button

--------------------------------------------------------------------------------------*/


/* Normal override */

#elementor-mode-switcher.right {
    left: 100%;
    right: unset;
    -webkit-box-shadow: 3px 1px 5px rgba(0, 0, 0, .1);
    box-shadow: 3px 1px 5px rgba(0, 0, 0, .1);
}

body.elementor-editor-active #elementor-mode-switcher.right #elementor-mode-switcher-preview .eicon:before {
    content: ""
}

body.elementor-editor-preview #elementor-mode-switcher.right #elementor-mode-switcher-preview .eicon:before {
    content: ""
}


/* RTL */

#elementor-mode-switcher.left {
    right: 100%;
    left: unset;
    -webkit-box-shadow: -3px 1px 5px rgba(0, 0, 0, .1);
    box-shadow: -3px 1px 5px rgba(0, 0, 0, .1);
}

body.elementor-editor-active #elementor-mode-switcher.left #elementor-mode-switcher-preview .eicon:before {
    content: ""
}

body.elementor-editor-preview #elementor-mode-switcher.left #elementor-mode-switcher-preview .eicon:before {
    content: ""
}


/*--------------------------------------------------------------------------------------

5 - Tooltip FEP

--------------------------------------------------------------------------------------*/

fep-t {
    font-size: 12px;
    line-height: 16px;
}


/*
.tipsy.fep-content-tooltip .tipsy-inner,
.tipsy.fep-pro-content-tooltip .tipsy-inner {
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 0 5px 0 rgba(236, 0, 140, 0.7);
          box-shadow: 0 0 5px 0 rgba(236, 0, 140, 0.7);
}
*/
